{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "mocha"
  ],
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false
  },
  "rules": {
    "new-cap": ["error", { "capIsNewExceptions": ["Map", "List"] }]
  }
}
